<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AudioCaptureIntegration.Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AudioCaptureIntegration.Demo.Properties.Settings>
            <setting name="DropboxAccountAPIKey" serializeAs="String">
                <value>1rpkupvegg4992c</value>
            </setting>
            <setting name="DropboxAccountAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DropboxAccountEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="DropboxAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="DropboxAccountRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DropboxAccountUID" serializeAs="String">
                <value />
            </setting>
            <setting name="CloudAccountTokenExpiresAt" serializeAs="String">
                <value />
            </setting>
        </AudioCaptureIntegration.Demo.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NAudio.Core" publicKeyToken="e279aa5131008a41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>